#container{
  width: 600px;
  margin: 50px auto;
}

h1{ 
 font-family: cursive;
 margin: 10px;
 color: blue;
 font-size: 24px;
 font-weight: normal;
}

/* Class for completed todos */
.completedTodos{
    text-decoration: line-through;
    color: gray;
}
/* Only for items being added as todos or subtodos */
li>input[type=text]:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid green;
}

/* Only for items being added as todos or subtodos */
.newtodo>input{
  background-color: khaki;
}

ul{
    list-style-type: none;
}

/* Top input box to add todos. */
h1+input{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid green;
  margin: 5px;
}

li>input[type=text]{ 
    border: none;
    outline: none;
    font-size:20px; 
}

/* To minimise the font of the subtodos */
li ul input[type=text]{
  font-size: 15px;
}

/* To minimise the icon in the subtodos */
li li i{
  font-size: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
